<!doctype html>

<html>

  <head>
    <met content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h1>You need to activate ya'self fo Matt's writing thing, yo.</h1>

    <p>Just go to this link and login...yo. <%= @url %>.</p>

    <p>Word.</p>
  </body>

</html>
