<!doctype html>

<html>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h1>Matt activated you for his writing app thing.</h1>

    <p>That is, he activated <%= @user.name %>. He hopes that's you.</p>

    <p>So log-in and write something. The link's here: <%= @url %>.

    <p>Thank ya!</p>
  </body>

</html>
