<h2><%= @user.name %></h2>

<p>
  <ul>
  <% if @writings.empty? %>
    <li>no writings yet</li>
  <% else %>
    <% @writings.each do |writing| %>
      <li><%= link_to writing.title, writing %></li>
    <% end %>
  <% end %>
  </ul>
</p>
