@font-face {
  font-family: 'Libertinage';
  src: font-url( 'Libertinage/Libertinage-z.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pfennig';
  src: font-url ('Pfennig/Pfennig.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rose';
  src: font-url( 'Rose/rosecaps.ttf');
  font-weight: normal;
  font-style: normal;
}

$baseline: 24px;

// foundation
@import "foundation_and_overrides";

blockquote {
  color: #4d4d4d;
  font-size: 0.875em;
  font-style: italic;
  font-weight: 500;
  margin-bottom: $baseline;
  margin-top: $baseline;
  padding-top: 0;
  em {
    font-style: underline;
  }
}

body {
  line-height: $baseline;
}

h1, h2, h3, h4, h5, h6 {
  line-height: $baseline*2;
}

h1 { 
  font-size: 48px; 
  margin-bottom: 16px;
  margin-top: 32px;
}
h2 { 
  font-size: 36px; 
  margin-bottom: 12px;
  margin-top: 36px; 
}
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; }
h6 { font-size: 18px; }

input {
  &[type="checkbox"] {
    margin: 0;
  }
  &[type="button"], &[type="submit"] {
    background: transparent;
    border: 0;    
    cursor: pointer;
    font-family: $body-font-family; 
    font-size: $em-base;
    padding: 0;
  }
}

p { margin-top: 18px; }

.error {
  ul {
    li {
      font-style: italic;
    }
  }
}

#sidebar {
  h1#title {
    font-style: italic;
    font-size: 48px;
    &:first-letter { 
      float: left;
      font-family: 'Rose';
      font-size: 88px; 
      font-style: normal;
      font-weight: normal;
    } 
  }
  #sidebar-content {
    margin-left: 2em;
    ul {
      list-style-type: none;
    }
    #user-menu {
      ul {
        font-family: $header-font-family;
        font-size: 28px;
        li {
          line-height: 30px;
          margin-top: 16px;
          &:not(:first-child) {
            margin-top: 18px;
          }
        }
      }
    }
    #recent-writings {
      margin-top: $baseline*2;
      .writing-title {
        margin-bottom: 0;
      }
      .writing-author {
        margin-top: 0;
      }
    }
    footer {
      margin-top: $baseline*2;
    }
  }
}

#main {
  #content {
    margin-top: $baseline;
    a { font-style: italic; }
    h2 { font-style: normal; }
    ul { 
      margin-left: 2em; 
      &#faq, &#profile {
        margin-left: 0;
        list-style-position: inside;
      }
    }
  }
}

.writing-title {
  font-style: italic;
}

.writing-author {

}

