<h1>My control page</h1>

<h2>My profile information</h2>
<% # ... profile stuff %>
<%= link_to "Edit Profile" %>

<h2>My friend requests</h2>
<% # ... pending friend requests %>

<h2>Pending friend requests</h2>
<% # ... pending friend requets %>

<h2>My friends</h2>
<% # ... friends  %>

<h2>My writings</h2>
<% # ... posts %>
