<% if @writing %>
  <h3><%= @awriting.title %></h3>
  <h4>by 
    <%= 
      if @awriting.author_id == 0
        'anonymous'
      else
        User.find( @awriting.author_id).name
      end
    %>
  <p><%= simple_format @awriting.body %></p>
<% end %>

