<h1>This is Matt's poetry application.</h1>

<ul>
  <li><%= link_to 'Sign up', signup_path, class: "btn btn-large btn-primary" %></li>
  <% if current_user %>
    <li><%= link_to 'Log out', logout_path %></li>
  <% else %>
    <li><%= link_to 'Log in', login_path %></li>
  <% end %>
</ul>

<% link_to image_tag( 'rails.png', alt: 'Powered by Rails'), 'http://rubyonrails.org' %>
