<% if @a_writing %>
  <h2 class="writing-title"><%= @a_writing.title %></h2>
  <p class="writing-author">by 
    <%= 
      if @a_writing.author_id == 0
        'anonymous'
      else
        User.find( @a_writing.author_id).name
      end
    %>
  </p>
  <div class="writing-content"><%= simple_format @a_writing.body %></div>
<% end %>

